<a th:href="@{/home}">home</a>
<form th:action="@{/viewGames/addEvent/submitEvent}" th:object="${event}" method="post">
    
    <div>
        <label>Description</label>
        <input type="hidden" th:field="*{type}">
        <input type="hidden" th:field="*{description}">
        <input type="hidden" th:field="*{gameId}">
        <p th:text="*{description}"></p>
        <label>Player</label>
        <select id="players" th:field="*{player}">
            <option th:each="player : ${players}"
                    th:value="${{player}}"
                    th:text="${player.name}">
            </option>
        </select>

        <label>Time</label>
        <input type="datetime-local" th:field="*{date}">

    </div>
    <button type="submit">Submit</button>

</form>