<form th:action="@{/saveStudent}" th:object="${student}" method="post">
    <div="form-row">
        <div>
            <input type="hidden" th:field="*{id}">
        </div>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}">
        </div>
        <div>
            <label>Telephone</label>
            <input type="text" th:field="*{telephone}">
        </div>
        <div>
            <label>Age</label>
            <input type="text" th:field="*{age}">
        </div>
        <div>
            <select id="professors" th:field="*{profs}" size="10" multiple="multiple">
				<option th:each="prof : ${allProfessors}"
						th:value="${{prof}}"
						th:text="${prof.name}">
					The name
				</option>
			</select>
        </div>
        <button type="submit">Edit/Create Student</button>
    </div>
</form>