<!DOCTYPE html>
<html lang="en">


    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>scoreDEI - Home</title>
    </head>

    <body>
      <h1>Welcome <div sec:authorize="isAuthenticated()"> <span sec:authentication="name">Username</span> &nbsp; </div> </h1> 
      <div sec:authorize="isAuthenticated()">
         <a th:href="@{/logout}" >Logout</a>
        </div>

        <p><a th:href="@{/login}">Login</a></p>
        <p><a href="/admin/users">Sign up</a></p>
        <div sec:authorize="hasAnyAuthority('ADMIN')">
            <p>Admin: <a href="/admin/users">Users</a> <a href="/admin/teams">Equipas</a> <a href="/admin/players">Jogadores</a> <a href="/admin/games">Jogos de Futebol</a></p>
        </div>
        
        <a th:href="@{viewGames}">View Games</a>
        <a th:href="@{statistics}">Statistics</a>
    </body>

</html>
