<!DOCTYPE html>
<html>
    <head>
        <title>List of students</title>
        <meta charset="utf8"/>
    </head>
    <body>
        <h1>List of Students</h1>
  
        <table border="1">
          <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>TELEPHONE</th>
            <th>AGE</th>
            <th>CHANGE</th>
            <th>PROFESSORS</th>
          </tr>
          <tr th:each="s : ${students}">
            <td th:text="${s.id}">id</td>
            <td th:text="${s.name}">name</td>
            <td th:text="${s.telephone}">telephone</td>
            <td th:text="${s.age}">age</td>
            <td><a th:href="@{editStudent(id=${s.id})}">here</a></td>
            <td>
              <ul th:each="p : ${s.profs}">
                <li th:text="${p.name}">Name</li>
              </ul>
            </td>
          </tr>
        </table>
      
    </body>
</html>