<!DOCTYPE html>
<html>
    <head>
        <title>List of professors</title>
        <meta charset="utf8"/>
    </head>
    <body>
        <h1>List of Professors</h1>
  
        <table border="1">
          <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>OFFICE</th>
            <th>CHANGE</th>
            <th>CHANGE OFFICE</th>
            <th>STUDENTS</th>
          </tr>
          <tr th:each="p : ${professors}">
            <td th:text="${p.id}">id</td>
            <td th:text="${p.name}">name</td>
            <td th:text="${p.office}">office</td>
            <td><a th:href="@{editProfessor(id=${p.id})}">here</a></td>
            <td><a th:href="@{changeOffice(id=${p.id})}">here</a></td>
            <td>
              <ul th:each="s : ${p.students}">
                <li th:text="${s.name}">Name</li>
              </ul>
            </td>
          </tr>
        </table>
      
    </body>
</html>