<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>scoreDEI - Matches</title>
</head>
<body>
    <form th:action="@{/admin/games/create}" th:object="${game}" method="post">
        <div="form-row">
            <div>
                <label>Localizaçao</label>
                <input type="text" th:field="*{location}">
            </div>
            <div>
                <label>Data</label>
                <input type="datetime-local" th:field="*{date}">
            </div>
            <div>
                <label>Equipa A</label>
                
            </div>
            <div>
                <label>Equipa B</label>
            </div>
            <button type="submit">Create Player</button>
        </div>
    </form>

    <table border="2">
        <tr>
            <th>Nome</th>
        </tr>
        <tr th:each="p : ${allPlayers}">
            <td th:text="${p.name}"></td>
        </tr>
    </table>
</body>
</html>