<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>scoreDEI - Teams</title>
</head>
<body>
    <a th:href="@{/home}">home</a>
    <form th:action="@{/admin/teams/create}" th:object="${team}" method="post">
        <div="form-row">
            <input type="text" th:field="*{name}" placeholder="Name" />
            <button type="submit">Criar Equipa</button>
        </div>
    </form>

    <table border="2">
        <tr>
            <th>Nome</th>
        </tr>
        <tr th:each="t : ${allTeams}">
            <td th:text="${t.name}"></td>
        </tr>
    </table>
</body>
</html>