<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <td><a th:href="@{addEvent(id=${id})}">Add Event</a></td>
    <table border="2">
        <tr>
            <th>Event</th>
        </tr>
        <tr th:each="e : ${events}">
            <td th:text ="${e.description}"></td>
            
        </tr>
    </table>
</body>
</html>